.quick-bar{
	border-bottom:1px solid #eee;
	line-height:50px;
	background:#fff;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity:0.9;
	-khtml-opacity: 0.9;
        z-index: 1000;
}
.quick-bar .quick-title{
	float:left;
	width:20%;
	font-size:18px;
}
.quick-bar .quick-list{
	float:right;
	width:80%;
	text-align:right;
}
.quick-list a{
	margin-left:1.5em;
}